<div class="well">
  <h1>{{ title }}</h1>
  <hr>
  <p> {{ body }}</p>
  <hr >
  <div class="input-group">
    <span>
      {{ consentLabel }}
    </span>
    {{input type="checkbox" checked=consentGranted}}
  </div>
</div>
<div class="row exp-controls">
  <button class="btn btn-default pull-right" {{ action 'next' }} disabled={{ consentNotGranted }}>
    {{buttonLabel}}
  </button>
</div>
