{{! template-lint-disable invalid-interactive}}

<div class="row exp-alternation alternation-container">


    {{#if doingIntro}}
        <video id="player-video"
               class="attn"
               autoplay
               loop
               onplay={{action 'startVideo'}}>

            {{#each videoSources as |stream|}}
                <source src="{{stream.src}}" type="{{stream.type}}">
            {{/each}}
        </video>

        <audio id="player-audio"
               onended={{action 'endAudio'}}>

            {{#each audioSources as |stream|}}
                    <source src="{{stream.src}}" type="{{stream.type}}">
            {{/each}}
        </audio>

    {{else}}
        <svg viewBox="0 0 200 112" id="allstimuli">

            {{!-- Box for left image stream --}}
            <rect x="2.5" y="5.6" width="70" height="100.8" fill="none" stroke="#666" stroke-width=".5"/>

            {{!-- Box for right image stream --}}
            <rect x="127.5" y="5.6" width="70" height="100.8" fill="none" stroke="#666" stroke-width=".5"/>

            {{!-- Actual triangles go here --}}
            <g id="stimuli">
            </g>

        </svg>
    {{/if}}

</div>

<div class="row col-md-6 exp-video-physics">
    <button class="btn btn-success" style="display:none;" id="fsButton" {{ action 'showFullscreen'}} >
        please return to fullscreen
    </button>
</div>

