<div class="row exp-video-config">

    <div class="col-md-10 col-md-offset-1">

        <h2> Basic webcam setup </h2>

        <p id="not-recording-note">
            No recording during this section
        </p>

        <hr>

    </div>
</div>

<div class="row exp-video-config">

    <div class="col-md-5 col-md-offset-1">
        <div class="row exp-video-config" style="height: 30vh">
            <div id="recorder" class="col-md-12" style="height:100%"></div>

        </div>
        <div class="select">
                <label for="videoSource">Video source: </label>
                <select id="videoSource"></select>
        </div>
        <div class="select">
                <label for="audioSource">Audio source: </label>
                <select id="audioSource"></select>
        </div>
        <button class="btn btn-outline-secondary pull-right" {{ action 'getSources' }} >Refresh sources </button>
    </div>

    <div class="col-md-5">

        {{#if showWebCamWarning }}
            <h4 class="text-warning">
                We couldn't connect to your webcam. Please make sure you have a webcam connected and <button class="btn btn-default" {{action 'reloadRecorder'}}>click here to detect</button>. (See the troubleshooting directions below if you're having trouble!)
            </h4>
        {{/if}}

        {{#unless showWebCamWarning }}

            <ol>
                <li>
                    Make sure you can see yourself to the left! You will need to click to allow lookit.mit.edu to access your webcam and microphone.
                </li>

                <li>
                    Make sure we'll be able to hear you! This box will be filled in once we hear a loud enough sound:

                    <div id="soundCheckBox" class={{if micChecked 'soundCheckComplete'}}>
                        {{#if micChecked}}
                            Sounds good!
                        {{else}}
                            Try clapping or saying hi.
                        {{/if}}
                    </div>

                </li>

            </ol>

        {{/unless}}


        {{#if (and showWarning (not micChecked))}}
            <div class="reload-warning">
                * Please check that your recording audio is loud enough first. Make some noise!
            </div>
        {{/if}}

        <button disabled={{if (not hasCamAccess) true false}} class="btn btn-success pull-right {{if (not hasCamAccess) 'disabled' ''}}" {{ action 'checkAudioThenNext' }} >
            Next
        </button>
    </div>


</div>


<div class="row exp-video-config">
    <div class="col-md-10 col-md-offset-1">

        <h2> Troubleshooting tips </h2>
        <hr>

        <p>
            {{exp-format troubleshootingIntro}}
        </p>

        {{#bs-accordion selected=selected collapsed=collapsed}}

            {{#bs-accordion-item value="mobile" title="Are you using a computer, not a mobile device?"}}
                <p> Unfortunately, Lookit doesn't work on mobile devices like phones and tablets yet.</p>
            {{/bs-accordion-item}}

            {{#bs-accordion-item value="browsers" title="Are you using a recent version of Chrome or Firefox?"}}
                <p> Lookit is currently only officially supported on Chrome and Firefox. Specific setup directions for each are below! </p>
            {{/bs-accordion-item}}

            {{#bs-accordion-item value="chrome" title="Camera setup instructions for Chrome"}}
                <ol>

                    <li> Click the green lock icon to the left of the web address. Set Camera and Microphone to "always allow on this site."
                        <img class="screenshot" src="assets/chrome_settings_lock.png" alt="Chrome Lookit permissions settings">
                    </li>
                    <li> Reload this page to apply your settings.
                    </li>
                </ol>
            {{/bs-accordion-item}}

            {{#bs-accordion-item value="firefox" title="Camera setup instructions for Firefox"}}
                <ol>
                    <li>
                        Find the website address bar at the top. There should be an “i” with a circle around it, then a grey Lego-like icon, then a security icon, like this:
                        <img class="screenshot" src="assets/firefox_lego.png" alt="Firefox address bar">
                    </li>
                    <li>
                        Click on the Lego icon, and a window should pop up asking permission to use Adobe Flash on this site. Check the "Remember" box and click Allow:
                        <img class="screenshot" src="assets/firefox_lego_allow.png" alt="Firefox address bar with Flash permissions request">
                    </li>
                </ol>
            {{/bs-accordion-item}}


            {{#bs-accordion-item value="microphone" title="Can't see your microphone volume bar moving?"}}
                <p>
                    If the microphone icon in your video screen shows red bars like this <img src="assets/noSound.png" alt="No sound">, or if you can't see any green when you make noise, you may not be recording sound. To adjust your microphone settings, right-click on the webcam view and choose "Settings":
                </p>

                <p>
                    Using Chrome and still having trouble? Chrome-specific directions for troubleshooting microphone problems are available <a href="https://support.google.com/chrome/answer/2693767?hl=en" target="_blank" rel="noopener">here</a>.
                </p>
            {{/bs-accordion-item}}

            {{#bs-accordion-item value="whatelse" title="It's just not working - I can't see my camera. What else can I try?"}}
                <ul>
                    <li>
                        First, you are a very dedicated citizen scientist and we're grateful for your help! We're sorry you're having trouble and are actively working on this system.
                    </li>

                    <li>
                        Make sure you're able to view your webcam video outside of Lookit. (For example, on a Mac, try Photobooth.)
                    </li>

                    <li>
                        The easiest approach may be to try a different web browser if you have one installed anyway. For instance, if you're using Firefox, switch to Chrome, or vice versa. Also, update the browser if you're not using the latest version. You can check by going to "Chrome" -> "About Chrome" or "Firefox" -> "About Firefox" in the menu bar. (This is a good idea to make sure you've gotten any security updates anyway.) Still not working?
                    </li>

                    <li>
                        <h4> Using Chrome? </h4>
                        <ol>
                            <li>Make sure you're not using an Incognito window - you won't be able to save and use settings throughout the study.</li>
                            <li>Go to your Chrome settings for lookit.mit.edu here:
                                <a href="chrome://settings/content/siteDetails?site=https://lookit.mit.edu" target="_blank" rel="noopener">chrome://settings/content/siteDetails?site=https://lookit.mit.edu</a>.
                                Set "Camera" and "Microphone" permissions to "Allow" like this:
                                <img class="screenshot" src="assets/chrome_settings.png" alt="Chrome Lookit permissions settings">
                            </li>
                            <li>Still not working? Try the other steps Chrome suggests here: <a href="https://support.google.com/chrome/answer/6258784" target="_blank" rel="noopener">https://support.google.com/chrome/answer/6258784</a></li>
                        </ol>
                    </li>

                    <li>
                        <h4> Using Firefox? </h4>
                        <p class="indent"> The following may work on some versions of Firefox. Go to "Firefox" on the menu bar, then "Preferences."
                            <img class="screenshot" src="assets/firefox_menu.png" alt="Firefox menu bar">
                            Find "Privacy & Security" on the left menu. Scroll down to "Permissions." Click on "Camera" and enter https://lookit.mit.edu/ as an allowed site. Do the same for "Microphone."
                        </p>

                    </li>


                    <li>
                        If you're stumped, it's our fault. Please let us know to help us figure out what we still need to fix! Email us at lookit-tech@mit.edu with a short description of what's happening. Please include the web browser you're using (Firefox, Chrome, IE, Safari, etc.) and what steps you've tried so far.
                    </li>

                </ul>

            {{/bs-accordion-item}}

            {{/bs-accordion}}

    </div>

</div>
