{{! template-lint-disable invalid-interactive}}

<div class="exp-lookit-story-page" id="exp-lookit-story-page-container">

    <div id="story-area">
        {{#each images as |image|}}
            <div id={{image.id}} class="story-image-container" style="left:{{image.left}}%; width:{{image.width}}%; top:{{image.top}}%; height:{{image.height}}%;">
                <img src={{image.src}} class="story-image">
            </div>
        {{/each}}
    </div>

    {{#unless updatedIsFullscreen}}
        <button class="btn btn-success exp-lookit-story-page" id="fsButton" {{ action 'showFullscreen'}} >
                please return to fullscreen
        </button>
    {{/unless}}

    {{#each audioSources as |audioSourceObject|}}
        <audio class="player-audio" id={{audioSourceObject.audioId}} onended={{action 'playNextAudioSegment'}}>
            {{#each audioSourceObject.sources as |stream|}}
                <source src="{{stream.src}}" type="{{stream.type}}">
            {{/each}}
        </audio>
    {{/each}}

</div>
