{{! template-lint-disable invalid-interactive}}

<div class="exp-lookit-story-page" id="exp-lookit-story-page-container">

    <div id="story-area">
        {{#each images as |image|}}
            <div id={{image.id}}>
                <img src={{image.src}} class="story-image">
            </div>
        {{/each}}
    </div>

    {{#if (not doingIntro)}}
        <video id="player-video"
               class="attn"
               autoplay
               loop>
            {{#each videoSources as |stream|}}
                <source src="{{stream.src}}" type="{{stream.type}}">
            {{/each}}
        </video>
    {{/if}}

    {{#unless updatedIsFullscreen}}
        <button class="btn btn-success exp-lookit-story-page" id="fsButton" {{ action 'showFullscreen'}} >
                please return to fullscreen
        </button>
    {{/unless}}

    <audio id="player-calibration-audio">
        {{#each calibrationAudioSources as |stream|}}
            <source src="{{stream.src}}" type="{{stream.type}}">
        {{/each}}
    </audio>

    {{#if hasBeenPaused}}
        <audio id="player-audio"
               onended={{action 'completedIntroAudio'}}>
            {{#each unpauseAudio as |stream|}}
                <source src="{{stream.src}}" type="{{stream.type}}">
            {{/each}}
        </audio>
    {{else}}
        <audio id="player-audio">
            {{#each introAudioSources as |stream|}}
                <source src="{{stream.src}}" type="{{stream.type}}">
            {{/each}}
        </audio>
    {{/if}}

    <audio id="player-test-audio">
        {{#each testAudioSources as |stream|}}
            <source src="{{stream.src}}" type="{{stream.type}}">
        {{/each}}
    </audio>

    <audio id="player-pause-audio">
        {{#each pauseAudio as |stream|}}
            <source src="{{stream.src}}" type="{{stream.type}}">
        {{/each}}
    </audio>

    <audio id="player-pause-audio-leftfs">
        {{#each fsAudio as |stream|}}
            <source src="{{stream.src}}" type="{{stream.type}}">
        {{/each}}
    </audio>


</div>

