<div class="row exp-lookit-instructions">
    <div class="vertical-pad"></div>

    <div class="exp-text {{if showWebcam "col-md-6" "col-md-6 col-md-offset-3"}}">

        {{#each blocks as |block|}}
            {{exp-text-block block=block}}
        {{/each}}

        {{#if audioBlock}}

            <p class={{if (eq size 'large') 'exp-text-large' 'exp-text-medium'}}>
                {{audioBlock.title}}
            </p>

            <p>
                {{exp-format audioBlock.text}}
            </p>

            <div id="audio-wrapper">
                <audio id="player-audio"
                       controls
                       onended={{ if mustPlay (action 'soundPlayed') }}
                >
                    {{#each audioBlock.sources as |source|}}
                        <source src={{source.src}} type={{source.type}}>
                    {{/each}}
                </audio>

                {{#if showWarning}}
                    <div class="sound-warning">
                        * {{audioBlock.warningText}}
                    </div>
                {{/if}}
            </div>

        {{/if}}

    </div>

    {{#if showWebcam}}
        <div class="col-md-4 recorder-col">
            <div class="row exp-video-config recorder-container">
                <div id="recorder" class="col-xs-12"></div>
            </div>

            {{#if webcamBlocks}}
                <div class="vertical-pad"></div>
                {{#each webcamBlocks as |block|}}
                    {{exp-text-block block=block}}
                {{/each}}
            {{/if}}

        </div>
    {{/if}}

</div>

<div class="row exp-lookit-instructions">

    <div class="vertical-pad"></div>

    {{#if showPreviousButton}}
        <button class="btn btn-default pull-left" {{ action 'previous' }}>
            Previous
        </button>
    {{/if}}

    <button id="nextbutton" class="btn btn-success pull-right" {{ action 'checkAudioThenNext' }}>
        {{exp-format nextButtonText}}

    </button>
</div>