{{#bs-modal open=warn title="Are you sure you want to leave the study early?" footer=false}}
{{#bs-modal-body}}
<div class="col-xs-12 form exit-warning">
  <p>
    Having difficulty with the study? Please leave us any comments below:
  </p>
  {{textarea value=exitReason}}
  <hr>
  <p>
    If you do want to exit early, please select a privacy level for any video that was recorded during this session (<strong>*required</strong>):
  </p>
  <div class="form-group">
    <div class="checkbox">
      {{radio-button value="publicity and educatonal" checked=exitPrivacy}} Publicity and educational (video may be used for publicity or educational purposes online or in the press in additon to for research purposes)
    </div>
    <div class="checkbox">
      {{radio-button value="scientific" checked=exitPrivacy}} Scientific use only (e.g., a short clip may be shown at a scientific conference to demonstrate typical responses)
    </div>
    <div class="checkbox">
      {{radio-button value="in-lab" checked=exitPrivacy}} In-lab use only (only researchers from MIT's Early Childhood Cogni-on Lab may view your video)
    </div>
    <div class="checkbox">
      {{radio-button value="widthdraw" checked=exitPrivacy}}WITHDRAW your data from this session (your video will be destroyed and no one may view it or use any text you submitted
    </div>
  </div>
</div>
<hr>
<div class="row">
  <div class="col-xs-12">
    <div class="btn-group pull-right">
      <button class="btn btn-default exit-warning-btn" {{action 'onReject'}}>
        Back
      </button>
      <button disabled={{if (not exitPrivacy) true false}} class="btn btn-warning exit-warning-btn" {{action 'onConfirm'}}>
        Leave now
      </button>
    </div>
  </div>
</div>
{{/bs-modal-body}}
{{/bs-modal}}
