<div class="row">
  {{#unless fullControls}}
    <div class="col-md-2">
      <button {{action 'loopSound'}} class="player-audio-replay-widget">
        <br>Replay
      </button>
    </div>
  {{/unless}}

    <div class="col-md-10">
      {{#if title}}
        <h3>{{title}}</h3>
      {{/if}}
      {{#if titlePrompt}}
        {{exp-text-block block=titlePrompt size=large}}
      {{/if}}
        <audio id="player-audio"
               controls={{fullControls}}
               autoplay={{autoplay}}
               onended={{ if mustPlay (action 'soundPlayed') }}
        >
            {{#each sources as |stream|}}
                <source src="{{stream.src}}" type="{{stream.type}}">
            {{/each}}
        </audio>


        {{#if prompts}}
          {{#each prompts as |prompt|}}
          {{exp-text-block block=prompt}}
        {{/each}}
        {{/if}}

        {{#if images}}
        {{#each images as |image|}}
            <!-- TODO: Add css styles for the exp-audio-player images-->
        <div class="text-center">
            <img class="center-block"
                 src="{{image.src}}" title="{{image.title}}" alt="{{image.alt}}">
        </div>

        {{/each}}
        {{/if}}

        {{#if preventNext}}
        <div class="row bg-danger"><!-- If this doesn't violate some sort of style guide, I'll buy a hat and eat it -->
            Please play the sample audio before continuing.
        </div>
        {{/if}}
    </div>

</div>



<div class="row exp-controls">
  <div class="col-md-12">
    <button class="btn btn-default pull-right" {{ action 'next' }} disabled={{ preventNext }}>
        Continue
    </button>
  </div>
</div>
