<div class="row">
  <div class="col-md-8 exp-physics-exit-survey">

    {{#if section1}}
    <h4>{{title1}}</h4>
      <p>{{exitThankYou}}</p>
      {{#bs-form}}
          <label>Please confirm your child's birthdate:</label>
 	  {{bs-datetimepicker format="MM/DD/YYYY" pickDate=false noIcon=true allowInputToggle=true updateDate=(action (mut birthDate))}}
      {{#if showValidation}}
      <p class="text text-danger">
        {{ validations.attrs.birthDate.messages }}
      </p>
      {{/if}}
          <hr>
          <label> Would you like to share your video and other data from this session with authorized users of the secure data library Databrary? </label>
          <div class="radio">
            <label>
              {{radio-button value="no" checked=shareVideo name="shareVideo"}}
              No
            </label>
          </div>
          <div class="radio">
           <label>
             {{radio-button value="yes" checked=shareVideo name="shareVideo"}}
             Yes
           </label>
         </div>
         {{#if showValidation}}
         <p class="text text-danger">
           {{ validations.attrs.shareVideo.messages }}
         </p>
         {{/if}}
         <hr>
         <label>Use of video clips and images:</label>
        <div class="radio">
          <label>
            {{radio-button value="private" checked=useOfMedia name="useOfMedia"}}
            <strong>Private:</strong> Video may only be viewed by authorized scientists.
          </label>
        </div>
            <div class="radio">
             <label>
               {{radio-button value="scientific" checked=useOfMedia name="useOfMedia"}}
               <strong>Scientific and educational:</strong> Video may be shared for scientific or educational purposes. For example, we might show a video clip in a talk at a scientific conference or an undergraduate class about cognitive development, or include an image or video in a scientific paper. In some circumstances, video or images may be available online, for instance as supplemental material in a scientific paper.
             </label>
        </div>
           <div class="radio">
            <label>
              {{radio-button value="public" checked=useOfMedia name="useOfMedia"}}
              <strong>Publicity:</strong> Please select this option if you'd be excited about seeing your child featured on the Lookit website or in a news article about this study! Your video may be shared for publicity as well as scientific and educational purposes; it will never be used for commercial purposes. Video clips shared may be available online to the general public.
            </label>
          </div>
          {{#if showValidation}}
          <p class="text text-danger">
            {{ validations.attrs.useOfMedia.messages }}
          </p>
          {{/if}}
         <hr>
         <label>Withdrawal of video data </label>
         <label>{{input type="checkbox" name="Withdrawal"}} Every video helps us, even if something went wrong! However, if you need your video deleted (your spouse was discussing state secrets in the background, etc.), check here to completely withdraw your video data from this session from the study. Only your consent video will be retained and it may only be viewed by Lookit researchers; other video will be deleted without viewing. </label>
         <hr>
         <label>Your feedback:</label><br>
         {{textarea rows=3 cols=40}}
         {{bs-button class="pull-right" defaultText="Continue" type="success" action='continue'}}
      {{/bs-form}}
    {{else}}
        <h4>{{title2}}</h4>
      <p>Hooray! You have completed <strong>{{currentSessionsCompleted}}</strong> session(s) in <strong>{{currentDaysSessionsCompleted}}</strong> days. We are asking parents to try to complete <strong>{{idealSessionsCompleted}}</strong> sessions within <strong>{{idealDaysSessionsCompleted}}</strong> days. (You can do up to two sessions per day.) If you reach this goal we will be able to send you an individualized report about your child's responses!</p>
      <div class="progress">
        <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow={{progressValue}}
        aria-valuemin="0" aria-valuemax="100" style="width:{{progressValue}}%">
          {{progressValue}}% Complete
        </div>
      </div>
      {{bs-button class="pull-right" defaultText="Continue" type="success" action='finish'}}
      <p>{{exitMessage}}</p>
    {{/if}}
  </div>
</div>
