<p>{{text}}</p>
<div id="recorder"></div>

<div class="row">
    <div class="col-xs-12 col-md-offset-1 col-md-10 text-center">
        {{#unless prompt}}
            <video controls style="width: 100%;">
                {{#each currentVideo.sources as |source|}}
                    <source src={{source.src}} type={{source.type}}>
                {{/each}}
                Your browser does not support the video tag.
            </video>
        {{else}}
            <button class="btn btn-default" {{action 'accept'}}>{{prompt}}</button>
            <hr>
        {{/unless}}
    </div>
</div>

<div class="row exp-controls">
    <div class="col-xs-12 text-center">
        <div class="btn-group">
            {{#unless prompt}}
                <button disabled={{noPrev}} {{action 'previousVideo'}} class="btn btn-default"> Previous </button>
            {{/unless}}
            <button class="btn btn-default" {{action 'next'}}>Skip</button>
            {{#unless prompt}}
                <button disabled={{noNext}} {{action 'nextVideo'}} class="btn btn-default pull-right"> Next </button>
            {{/unless}}
        </div>
    </div>
</div>
