<div class="row input-group">
    <audio id="player-audio"
           controls
           autoplay={{autoplay}}
           onended={{ if mustPlay (action 'soundPlayed') }}
    >
        {{#each sources as |stream|}}
            <source src="{{stream.src}}" type="{{stream.type}}">
        {{/each}}
    </audio>
</div>

<div class="row">
    {{#each prompts as |prompt|}}
        {{#if prompt.title}}
            <h3>{{prompt.title}}</h3>
        {{/if}}
        <p>
            {{prompt.text}}
        </p>
    {{/each}}
</div>

{{#unless allowNext}}
    <div class="row bg-danger"><!-- If this doesn't violate some sort of style guide, I'll buy a hat and eat it -->
        Please play the sample audio before starting this study.
    </div>
{{/unless}}

<div class="row exp-controls">
    {{log "in template" allowNext}}
    <button class="btn btn-default pull-right" {{ action 'next' }} disabled={{ allowNext }}> <!-- TODO button is backwards -->
        Continue
    </button>
</div>
