<div class="row">
<div class="col-xs-12">
    <h2>{{title}}</h2>
    <ul>
        <li> <strong> Duration: </strong> {{duration}} </li>
        <li> <strong> What happens: </strong> {{whatHappens}} </li>
        <li> <strong> What we're studying: </strong> {{purpose}} </li>
    </ul>
</div>
</div>

<div class="row">
    <div class="col-md-6 text-center">
        <div class="col-md-12">
            <h3>
                {{ subtitleLeft }}
            </h3>
            <img style="max-width: 100%;" src={{imgLeft}} />
            <p>
            {{captionLeft}}
            </p>
        </div>
    </div>
    <div class="col-md-6 text-center">
        <div class="col-md-12">
            <h3>
                {{ subtitleRight }}
            </h3>
            <img style="max-width: 100%;" src={{imgRight}} />
            <p>
            {{captionRight}}
            </p>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xs-12 text-center">
        <p>
        {{summary}}
        </p>
    </div>
</div>
<div class="row exp-controls">
    <div class="col-xs-offset-8 col-xs-4">
        <button class="btn btn-default pull-right" {{ action 'next' }} > Next </button>
    </div>
</div>
