<div class="input-group exp-video-physics row col-md-6 ">
    <video id="player-video"
           class="{{if doingAttn 'attn'}} {{if doingIntro 'intro'}} {{if doingTest 'test'}}"
           autoplay={{autoplay}}
           poster="{{poster}}"
           onended={{ if autoforwardOnEnd (action 'playNext') }}
           onplay={{action 'startVideo'}}
           loop={{shouldLoop}}
    >
      {{#each videoSources as |stream|}}
        <source src="{{stream.src}}" type="{{stream.type}}">
      {{/each}}
    </video>
    {{#if doingAttn}}
      <p  class="pause-instructions"> Study paused </p>      
      {{#if updatedIsFullscreen}}
        <p  class="pause-instructions"> Press space to resume </p>
        <p  class="pause-instructions"> (You'll have a moment to turn around again.) </p>
      {{/if}}
    {{/if}}
</div>

<div class="row col-md-6 exp-video-physics">
  <button class="btn btn-success" style="display:none;" id="fsButton" {{ action 'showFullscreen'}} > please return to fullscreen </button>
</div>

{{#unless autoforwardOnEnd}}
  <div class="row exp-controls">
    <button class="btn btn-default pull-right" {{ action 'next' }}>
      Continue
    </button>
  </div>
{{/unless}}
