<div class="row">
    <div class="col-xs-12">
        <p class="exp-video-setup-title"> {{ title }} </p>
        <p class="exp-video-setup-heading"> {{ heading }} </p>
        <p> {{ headingText }} </p>
    </div>
</div>

<div class="row" style="height: 300px">
  <div id="recorder" class="col-xs-offset-3 col-xs-6" style="height:100%"></div>
</div>

<div class="row">
    <div class="col-xs-12">
        <span class="breaklines">{{ instructions }}</span>
    </div>
</div>

<div class="row">
    {{#each examples as |example|}}
        <div class="col-md-4 text-center">
            <img src={{ example.src }} />
            <center> {{ example.caption }} </center>
        </div>
    {{/each}}
</div>

<br>

<div class="row exp-controls">
    <div class="col-xs-offset-1 col-xs-10">
        <div class="btn-group btn-group-justified" role="group">
            <div class="btn-group" role="group">
                <button class="btn btn-default" {{ action 'next' }} > Next </button>
            </div>
        </div>
    </div>
</div>
