<div class="row">
    <h3>{{t 'thankyou.title'}}</h3><br>
    <p class="break-line">{{t 'thankyou.instructions'}}</p>
</div>
<div class="row">
    <div id="exitControls" class="text-center">
        {{#link-to exitUrl id='exitButton' class="btn btn-default btn-lg"}}
            {{t 'thankyou.exitButton'}}
        {{/link-to}}
        <br>
        {{#link-to resultsUrl class="btn btn-primary btn-lg"}}
            {{t 'thankyou.personalityFeedbackButton'}}
        {{/link-to}}
    </div>
</div>
<div id="smilingGlobe" class="text-center margin-top-lg">
    <img src="assets/img/smiling-globe.jpg" alt="{{t 'thankyou.title'}}">
</div>