<div style={{if blockUI "" "top: -10000px; left: -10000px; z-index: -1; position: absolute"}}>
    <div class="modal fade-in" style={{if blockUI "display: block; padding-left: 0px;" "display: block; position: absolute;"}}>
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Please Allow Access To Your Video Camera</h4>
                </div>
                <div class="modal-body">
                    <div id="recorder" style="height: 300px"></div>
                </div>
            </div>
        </div>
    </div>
</div>

<video id="player-video" style="width: 100%"
        poster="{{poster}}"
        ontimeupdate={{action 'timeUpdate'}}
        onended={{action 'videoFinished'}}
        onplaying={{action 'setTimeEvent' 'videoPlayed'}}
        onpause={{action 'setTimeEvent' 'videoPaused'}}
>
    {{#each sources as |stream|}}
        <source src="{{stream.src}}" type="{{stream.type}}">
    {{/each}}
</video>

{{#if blockUI}}
    <div class="modal-backdrop fade in"></div>
{{/if}}
