<div class="row">
    {{page-number pageNumber=pageNumber}}
    <p>
        <span class="format-instructions">{{t 'survey.sections.2.instructions.firstSection'}}</span>
        <span>{{t 'survey.sections.2.instructions.secondSection'}}</span>
    </p>
    {{#bs-form}}
        {{#bs-form-group}}
            <label>{{t 'survey.sections.2.questions.14.label'}}</label><br>
            <div id="timeSelect" dir="ltr">
                {{! Prevent date display from being mangled in RTL languages- TODO improve fix }}
                {{#power-select
                    dropdownClass='dropdownClass'
                    selected=EventTime
                    options=times
                    placeholder=placeholder
                    renderInPlace=true
                    searchEnabled=false
                    onchange=(action (mut EventTime))
                as |time|
                }}
                    <span>{{time.12h}}</span>
                    <span class="pull-right">{{time.24h}}</span>
                {{/power-select}}
            </div>
        {{/bs-form-group}}
        <p>{{t 'survey.sections.2.instructions.thirdSection'}}</p>
        {{#bs-form-group}}
            <label>{{t 'survey.sections.2.questions.11.label'}}</label>
            {{#textarea maxlength=75 rows="5" cols="40" class="form-control" value=WhatResponse}}{{/textarea}}
            <p class="text-muted">{{diff1}}</p>
        {{/bs-form-group}}
        {{#bs-form-group}}
            <label>{{t 'survey.sections.2.questions.12.label'}}</label>
            {{#textarea maxlength=75 rows="5" cols="40" class="form-control" value=WhereResponse}}{{/textarea}}
            <p class="text-muted">{{diff2}}</p>
        {{/bs-form-group}}
        {{#bs-form-group}}
            <label>{{t 'survey.sections.2.questions.13.label'}}</label>
            {{#textarea maxlength=75 rows="5" cols="40" class="form-control" value=WhoResponse}}{{/textarea}}
            <p class="text-muted">{{diff3}}</p>
        {{/bs-form-group}}
    {{/bs-form}}
</div>
<div class="row exp-controls">
    <button class="btn btn-default" {{ action 'previous' }}>
        {{t 'global.previousLabel'}}
    </button>
    <button class="btn btn-primary pull-right {{if allowNext "" "disabled"}}" {{ action 'continue' }}>
        {{t 'global.continueLabel'}}
    </button>
    {{progress-bar pageNumber=pageNumber}}
</div>
