<div class="row">
  <p class="break-line">{{instructions}}</p>
  {{#bs-form}}
    {{#bs-form-group}}
      <label>{{label1}}</label>
      {{#textarea maxlength=75 rows="5" cols="40" class="form-control" value=q1}}{{/textarea}}
      <p class="text-muted">{{diff1}}</p>
    {{/bs-form-group}}
    {{#bs-form-group}}
      <label>{{t 'survey.sections.2.questions.12.label'}}</label>
      {{#textarea maxlength=75 rows="5" cols="40" class="form-control" value=q2}}{{/textarea}}
      <p class="text-muted">{{diff2}}</p>
    {{/bs-form-group}}
    {{#bs-form-group}}
      <label>{{t 'survey.sections.2.questions.13.label'}}</label>
      {{#textarea maxlength=75 rows="5" cols="40" class="form-control" value=q3}}{{/textarea}}
      <p class="text-muted">{{diff3}}</p>
    {{/bs-form-group}}
    {{progress-bar pageNumber=2}}
  {{/bs-form}}

</div>
<div class="row exp-controls">
    <button class="btn btn-primary pull-right" {{ action 'continue' }}>
        {{t 'global.continueLabel'}}
    </button>
</div>
